{% extends "layout.html" %}
{% block content %}
<style>

#container {
  width: 750px;
  height: 500px;
  position: relative;
  background: #669999;
}


#animate0 {
    border-radius: 50px/50px;

    width:50px;
    height:50px;

  position: relative;
  left = 0;
  background-color: blue;
  display: none;
}


#animate1 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}


#animate2 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate3 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate4 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate5 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate6 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate7 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate8 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}

#animate9 {
  border-radius: 50px/50px;

  width: 50px;
  height: 50px;
  position: relative;
  left=0;

  background-color: blue;
  display: none;
}



</style>

	<div class="home">

    <h2>Ferramenta de Simulação de Escalonadores</h2>

    <p><input type="number" id="tchegada" min="0" step="0.1" value="0"> tempo de chegada </p>
    <p><input type="number" id="tburst" min="0" step="0.1" value="0"> tempo de burst</p>
    <p><input type="number" id="prioridade" min="0" step="1" value="0"> prioridade</p>

    <p>
    <button onclick="addp()">adicionar processo</button>
    <button onclick="rmp()">deletar ultimo processo</button>
    </p>

    <p id = textoresposta1></p>
    <p id = textoresposta2></p>

    <p>
    <button onclick="fifo()">fifo</button>
    </p>




		<div id ="container">

		<div id ="animate0">&nbsp; &nbsp;<font size="6">0</font>	</div>
    <div id ="animate1">&nbsp; &nbsp;<font size="6">1</font>	</div>
		<div id ="animate2">&nbsp; &nbsp;<font size="6">2</font>	</div>
    <div id ="animate3">&nbsp; &nbsp;<font size="6">3</font>	</div>
    <div id ="animate4">&nbsp; &nbsp;<font size="6">4</font>	</div>
    <div id ="animate5">&nbsp; &nbsp;<font size="6">5</font>	</div>
    <div id ="animate6">&nbsp; &nbsp;<font size="6">6</font>	</div>
    <div id ="animate7">&nbsp; &nbsp;<font size="6">7</font>	</div>
    <div id ="animate8">&nbsp; &nbsp;<font size="6">8</font>	</div>
    <div id ="animate9">&nbsp; &nbsp;<font size="6">9</font>	</div>

		</div>

		<script>

    var executando = 0;
    var processos = [];

    function addp()
    {
      document.getElementById("textoresposta2").innerHTML = "";

      if(processos.length<10 && executando==0)
      {
        var temp_index = processos.length;
        processos.push( {
            index: temp_index,
            t_chegada: document.getElementById("tchegada").value,
            t_burst: document.getElementById("tburst").value,
            prioridade: document.getElementById("prioridade").value
        });

        document.getElementById("textoresposta1").innerHTML = ""

        var numero =  processos.length -1;
        $("#animate"+numero).show();

        for (var i = 0; i < processos.length; i++)
          document.getElementById("textoresposta1").innerHTML =
                          document.getElementById("textoresposta1").innerHTML +
                          "Processo " + processos[i].index + "\n"+
                          "tempo de chegada: " + processos[i].t_chegada + "\n"+
                          "tempo de burst: " + processos[i].t_burst + "\n"+
                          "prioridade: " + processos[i].prioridade + "<br>";
      }
      else if (executando ==1) {
        document.getElementById("textoresposta2").innerHTML = "Não é possivel adicionar processos durante a animação";
      }
      else
      {
        document.getElementById("textoresposta2").innerHTML = "Número maximo de processos atingido";
      }
    }

    function rmp()
    {
      document.getElementById("textoresposta2").innerHTML = "";

      if(processos.length>0 && executando==0)
      {
        processos.pop( );

        document.getElementById("textoresposta1").innerHTML = ""

        var numero =  processos.length;
        $("#animate"+numero).hide();

        for (var i = 0; i < processos.length; i++)
          document.getElementById("textoresposta1").innerHTML =
                          document.getElementById("textoresposta1").innerHTML +
                          "Processo " + i + "\n"+
                          "tempo de chegada: " + processos[i].t_chegada + "\n"+
                          "tempo de burst: " + processos[i].t_burst + "\n"+
                          "prioridade: " + processos[i].prioridade + "<br>";
      }
      else if (executando ==1) {
        document.getElementById("textoresposta2").innerHTML = "Não é possivel remover processos durante a animação";
      }
      else {
        document.getElementById("textoresposta2").innerHTML = "Nenhum processo a deletar";
      }
    }

    function fifo( )
    {
      if(executando == 0 && processos.length>0)
      {
        executando = 1;
        var tempo_acumulado = 0;
        for (var i = 0; i < processos.length; i++)
          $("#animate"+i).animate({duration:0, left: "0px"});

        var proc = processos.slice();
        proc.sort(
          function(a,b) {
            return parseFloat(a.t_chegada) - parseFloat(b.t_chegada);
          }
        );

        for (var i = 0; i < proc.length; i++) {

          if(i==proc.length-1)
              $("#animate"+proc[i].index).delay(tempo_acumulado*1000)
                .delay(parseFloat(proc[i].t_chegada)*1000)
                .animate({left: "350px"})
                .delay(proc[i].t_burst*1000).animate(
                          {left: "700px"},
                          {complete: function(){
                            for (var i = 0; i < proc.length; i++)
                              $("#animate"+i).animate({duration:0, left: "0px"});
                            executando = 0;}
                          });
          else
              $("#animate"+proc[i].index).delay(tempo_acumulado*1000)
                .delay(parseFloat(proc[i].t_chegada)*1000)
                .animate({left: "350px"})
                .delay(proc[i].t_burst*1000).animate(
                          {left: "700px"}
                          );

          tempo_acumulado = tempo_acumulado + parseFloat(proc[i].t_burst) +
                                  parseFloat(proc[i].t_chegada)  + 0.4;

        }






      }
    }


    function menor_tarefa_primeiro( )
    {
      if(i==processos.length-1)
          $("#animate"+proc[i].index).delay(tempo_comeco*1000)
            .animate({left: "350px"})
            .delay(proc[i].t_burst*1000).animate(
                      {left: "700px"},
                      {complete: function(){executando = 0;}
                      });
      else
          $("#animate"+proc[i].index).delay(tempo_comeco*1000)
            .animate({left: "350px"})
            .delay(proc[i].t_burst*1000).animate({left: "700px"});


      tempo_comeco = tempo_comeco + proc[i].t_burst + proc[i].t_chegada + 0.4;


    }



		</script>


	</div>
{% endblock %}
